body{
    background-color: darkslateblue;
}

nav{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin-top: 15px;
}

article{
    margin: 25px;
}

nav button{
    width: 15%;
    height: 35px;
}

#requestsContainer{
    display: flex;
    justify-content: space-between;
}

.requests{
    width: 500px;
    height: 900px;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signupRequest{
    width: 99%;
    height: 33px;
    margin-top: 5px;
    padding-top: 8px;
    padding-left: 10px;
    font-size: 1.15em;
    background-color: rgb(150, 17, 162);
    color: rgb(255, 255, 255);
}

.details{
    display: inline-block;
    width: 360px;
}

form{
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

input{
    width: 20%;
    height: 35px;
    margin-top: 5px;
}

select{
    width: 20%;
    height: 35px;
    margin-top: 5px;
}

h2 {
    margin-top: 140px;
    text-align: center;
}

.tip{
    color: rgb(137, 128, 128);
}

.radio{
    width: 7%;
    height: 15px;
    margin-top: 5px;
}

.coursesContainer{
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

.courses{
    width: 32%;
    height: 900px;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.course{
    width: 99%;
    height: 33px;
    margin-top: 5px;
    padding-top: 8px;
    padding-left: 10px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    font-size: 1.15em;
    background-color: rgb(150, 17, 162);
    color: rgb(255, 255, 255);
}

.titles{
    width: 99%;
    height: 33px;
    margin-top: 5px;
    padding-top: 8px;
    padding-left: 10px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    font-size: 1.15em;
    background-color: rgb(150, 17, 162);
    color: rgb(255, 255, 255);
}

.courseDetails{
    width: 32%;
    height: 900px;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.courseDetail{
    width: 99%;
    height: 33px;
    margin-top: 5px;
    padding-top: 8px;
    padding-left: 10px;
    font-size: 1.15em;
    background-color: rgb(150, 17, 162);
    color: rgb(255, 255, 255);
}

.name{
    display: inline-block;
    width: 130px;
}

.user{
    display: flex;
    justify-content: space-between;
    width: 60%;
    height: 40px;
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;
    margin-bottom: 15px;
    background-color: rgb(59, 66, 253);
}

#addNewStudentToCourse{
    width: 100%;
    height: 100px;
    background-color: chartreuse;
}

#logout{
    background-color: rgb(210, 87, 87);
}

#foundedUsers{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    overflow: auto;
}