body{
    background-color: rgb(216, 75, 9);
}

nav{
    display: flex;
    background-color: rgb(222, 215, 6);
    color: black;
    height: 150px;
    justify-content: center;
    align-items: center;
}

article{
    margin-top: 10px;
    display: inline-block;
    width: 67%;
}

section{
    display: flex;
    word-break: break-all;
}

aside {
    width: 29%;
    padding-left: 15px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
    height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    float: right;
    font-style: italic;
    background-color: lightgray;
}

button{
    width: 60%;
    height: 45px;
    margin-top: 35px;
    background-color: rgb(36, 36, 36);
    color: white;
}

textarea {
    resize: none;
}

h2{
    text-align: center;
}

hr{
    width: 95%;
    border: 2px dashed rgb(0, 0, 0);
}

.masterCourse{
    display: flex;
    justify-content: space-around;
    padding-top: 8px;
    height: 45px;
    margin-bottom: 4px;
    color: aliceblue;
    background-color: green;
    font-size: 170%;
}

.test{
    width: 150px;
    height: 200px;
    margin-right: 7px;
    background-color: rgb(240, 221, 7);
    color: black;
}

.examDetails{
    background-color: rgb(240, 221, 7);
    color: black;
    font-size: large;
    border: 0;
    margin-top: 15px;
}

.questions{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 15px;
    margin-top: 35px;
}

.question{
    margin-bottom: 0px;
}

.questionText{
    line-height: 28px;
}

.questionItem{
    text-indent: 3%;
}

.editQuestion{
    width: 25%;
    height: 25px;
    margin-bottom: 20px;
    margin-top: 5px;
}

.greenText{
    color: rgb(4, 253, 4);
}

.largerText{
    font-size: larger;
}

.multipleQuestion{
    padding-left: 20px;
}

.addQuestionFromBank{
    margin-left: 30%;
    width: 35%;
    height: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#addTestButton{
    width: 150px;
    height: 200px;
    margin-right: 7px;
    background-color: limegreen;
    fill: aliceblue;
    border: 0;
    display: inline-block;
}

#newExamForm{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 65%;
    height: 350px;
    margin-left: 23%;
    margin-top: 40px;
    font-size: large;
}

#newExamForm input{
    height: 33px;
}

#newExamForm textarea{
    height: 75px;
    width: 98%;
}

#examSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 1000px;
    background-color: rgb(240, 221, 7);
    color: black;
    padding-top: 20px;
    overflow: auto;
}

#examForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

#examTitle{
    font-size: large;
}

#examDescription{
    height: 120px;
    width: 85%;
}

#examStartDate{
    width: 40%;
}

#editExam{
    width: 20%;
    height: 30px;
    margin-top: 5px;
}

#updateExam{
    margin-top: 15px;
    width: 20%;
    height: 30px;
    background-color: rgb(124, 232, 53);
    color: black;
}

#deleteExam{
    background-color: red;
    width: 20%;
    height: 30px;
    margin-top: 5px;
}

#addNewDetailedQuestion{
    margin-bottom: 60px;
}

#newQuestionForm{
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-left: 25px;
    margin-right: 25px;
    align-items: center;
    font-size: large;
}

#newQuestionForm div{
    width: 98%;
}


#questionTitle{
    margin-bottom: 15px;
}

#questionText{
    margin-bottom: 10px;
    height: 90px;
    width: 98%;
}

#newItemButton{
    height: 30px;
    width: 18%;
    background-color: rgb(2, 143, 47);
    margin-top: 1px;
}

#addNewItem{
    height: 30px;
    width: 78%;
    margin-bottom: 15px;
}

#saveMultipleQuestion{
    width: 20%;
    height: 30px;
    background-color: green;
}

#saveDetailQuestion{
    width: 20%;
    height: 30px;
    background-color: green;
    margin-top: 30px;
}

#questionDefaultGrade{
    width: 10%;
}

#questionBank{
    display: flex;
    width: 100%;
    flex-direction: column;
}

::placeholder {
    text-align: center;
    color: black;
}


