body{
    background-color: rgb(216, 75, 9);
}

nav{
    display: flex;
    background-color: rgb(222, 215, 6);
    color: black;
    height: 150px;
    justify-content: center;
    align-items: center;
}

article{
    margin-top: 10px;
    display: inline-block;
    width: 67%;
}

section{
    display: flex;
    word-break: break-all;
}

aside {
    width: 29%;
    padding-left: 15px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
    height: 800px;
    display: flex;
    float: right;
    font-style: italic;
    background-color: lightgray;
}

.masterCourse{
    display: flex;
    justify-content: space-around;
    padding-top: 8px;
    height: 45px;
    margin-bottom: 4px;
    color: aliceblue;
    background-color: green;
    font-size: 170%;
}

.test{
    width: 150px;
    height: 200px;
    margin-right: 7px;
    background-color: rgb(240, 221, 7);
    color: black;
}

#addTestButton{
    width: 150px;
    height: 200px;
    margin-right: 7px;
    background-color: limegreen;
    fill: aliceblue;
    border: 0;
    display: inline-block;
}