<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="admin-menu-style.css">
    <script src="jquery.min.js"></script>
    <title>Admin Panel</title>
</head>
<body>
    
    <nav>
        <button id="viewSignupRequests">view signup requests</button>
        <button id="addNewCourse">Add a New Course</button>
        <button id="searchByFields">search</button>
        <button id="viewCourses">View Courses</button>
        <button id="logout">logout</button>
    </nav>
    <article>
        
    </article>
    <script src="test.js"></script>
</body>
</html>