<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="master-menu-style.css">
    <script src="jquery.min.js"></script>
    <title>Master menu</title>
</head>
<body>
<nav>
    <p>Welcome MR.Teacher</p>
</nav>

<article>
    <!--
    <div id="teacherViewStudentAnswers">
        <h2>Ahmad Yazdi</h2>

        <div class="teacherViewMultipleAnswers">
            <p><b>Question 1:</b> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione voluptates, labore repellat nostrum nemo fuga magnam odio, eius numquam incidunt omnis. Totam deserunt optio ab itaque labore officia quos placeat?(score: 3)</p>
            <p><b>Student Answer:</b> Option 1(ex mollitia voluptatem laborum ullam? Provident, autem eum)</p>
            <p><b>earned score:</b> 3</p>
            <hr>
        </div>

        <div class="teacherViewMultipleAnswers">
            <p><b>Question 2:</b> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione voluptates, labore repellat nostrum nemo fuga magnam odio, eius numquam incidunt omnis. Totam deserunt optio ab itaque labore officia quos placeat?(score: 3)</p>
            <p><b>Student Answer:</b> Option 1(ex mollitia voluptatem laborum ullam? Provident, autem eum)</p>
            <p><b>earned score:</b> 3</p>
            <hr>
        </div>

        <div class="teacherViewMultipleAnswers">
            <p><b>Question 3:</b> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione voluptates, labore repellat nostrum nemo fuga magnam odio, eius numquam incidunt omnis. Totam deserunt optio ab itaque labore officia quos placeat?(score: 3)</p>
            <p><b>Student Answer:</b> Option 1(ex mollitia voluptatem laborum ullam? Provident, autem eum)</p>
            <p><b>earned score:</b> 3</p>
            <hr>
        </div>

        <div class="teacherViewDetailAnswers">
            <p><b>Question 4:</b> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione voluptates, labore repellat nostrum nemo fuga magnam odio, eius numquam incidunt omnis. Totam deserunt optio ab itaque labore officia quos placeat?(score: 3)</p>
            <p><b>Student Answer:</b> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam nesciunt corporis iste animi molestiae minus nulla eaque, culpa ducimus. Nobis consequuntur earum officia animi dolor iure quidem sed qui omnis?</p>
            <b>earned score:</b> <form><input type="number"> <input type="submit" value="save grade"></form>
            <hr>
        </div>

        <div class="teacherViewDetailAnswers">
            <p><b>Question 5:</b> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione voluptates, labore repellat nostrum nemo fuga magnam odio, eius numquam incidunt omnis. Totam deserunt optio ab itaque labore officia quos placeat?(score: 3)</p>
            <p><b>Student Answer:</b> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam nesciunt corporis iste animi molestiae minus nulla eaque, culpa ducimus. Nobis consequuntur earum officia animi dolor iure quidem sed qui omnis?</p>
            <b>earned score:</b> <form><input type="number"> <input type="submit" value="save grade"></form>
            <hr>
        </div>

        <div class="teacherViewDetailAnswers">
            <p><b>Question 6:</b> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione voluptates, labore repellat nostrum nemo fuga magnam odio, eius numquam incidunt omnis. Totam deserunt optio ab itaque labore officia quos placeat?(score: 3)</p>
            <p><b>Student Answer:</b> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam nesciunt corporis iste animi molestiae minus nulla eaque, culpa ducimus. Nobis consequuntur earum officia animi dolor iure quidem sed qui omnis?</p>
            <b>earned score:</b> <form><input type="number"> <input type="submit" value="save grade"></form>
            <hr>
        </div>

        <button id="endCorrection" value="">End Correction</button>

    </div>
    -->
</article>
<aside>
    <button id="viewTeacherCourses">viewCourses</button>
    <button id="logout" class="teacherLogout">Logout</button>
</aside>

<script src="test.js"></script>
</body>
</html>