<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="master-menu-style.css">
    <script src="jquery.min.js"></script>
    <title>Master menu</title>
</head>
<body>
<nav>
    <p>Welcome MR.Teacher</p>
</nav>

<article>
    <div id="examSection">
        <form id="examForm">
            <input id="examTitle" class="examDetails" type="text" placeholder="java exam" disabled>
            <input disabled id="examStartDate" class="examDetails" type="text" placeholder="2022/11/16" onclick="(this.type='datetime-local')">
            <input id="examTime" class="examDetails" disabled placeholder="time: 70 minutes">
            <textarea id="examDescription" class="examDetails" disabled placeholder="description description description description description description description description"></textarea>
            <button id="updateExam" value="">update</button>
        </form>
        <button id="editExam">edit</button>
        <button id="deleteExam" value="">delete exam</button>
        <div id="multipleQuestions" class="questions">
            <h2>multiple option questions</h2>
            <div class="multipleQuestion question">
                <div class="questionText">
                    <p><b>1.quesion quesion quesion quesion quesion quesion quesion quesion quesion quesion quesion quesion quesion quesion quesion quesion quesion.(score: 5)</b></p>
                </div>
                <div class="questionItem">
                    <p>a) answer1 answer1 answer1 answer1 answer1 answer1 answer1 </p>
                </div>
                <div class="questionItem">
                    <p>b) answer1 answer1 answer1 answer1 answer1 answer1 answer1 </p>
                </div>
                <div class="questionItem">
                    <p>c) answer1 answer1 answer1 answer1 answer1 answer1 answer1 </p>
                </div>
                <div class="questionItem">
                    <p>d) answer1 answer1 answer1 answer1 answer1 answer1 answer1 </p>
                </div>
            </div>
            <button class="editQuestion">edit question</button>
            <hr>
            <div class="multipleQuestion question">
                <div class="questionText">
                    <p><b>2.quesion quesion quesion quesion quesion quesion quesion quesion quesion quesion quesion quesion quesion quesion quesion quesion quesion.(score: 5)</b></p>
                </div>
                <div class="questionItem">
                    <p>a) answer1 answer1 answer1 answer1 answer1 answer1 answer1 </p>
                </div>
                <div class="questionItem">
                    <p>b) answer1 answer1 answer1 answer1 answer1 answer1 answer1 </p>
                </div>
                <div class="questionItem">
                    <p>c) answer1 answer1 answer1 answer1 answer1 answer1 answer1 </p>
                </div>
                <div class="questionItem">
                    <p>d) answer1 answer1 answer1 answer1 answer1 answer1 answer1 </p>
                </div>
            </div>
            <button class="editQuestion">edit question</button>
            <hr>
            <div class="multipleQuestion question">
                <div class="questionText">
                    <p><b>3.quesion quesion quesion quesion quesion quesion quesion quesion quesion quesion quesion quesion quesion quesion quesion quesion quesion.(score: 5)</b></p>
                </div>
                <div class="questionItem">
                    <p>a) answer1 answer1 answer1 answer1 answer1 answer1 answer1 </p>
                </div>
                <div class="questionItem">
                    <p>b) answer1 answer1 answer1 answer1 answer1 answer1 answer1 </p>
                </div>
                <div class="questionItem">
                    <p>c) answer1 answer1 answer1 answer1 answer1 answer1 answer1 </p>
                </div>
                <div class="questionItem">
                    <p>d) answer1 answer1 answer1 answer1 answer1 answer1 answer1 </p>
                </div>
            </div>
            <button class="editQuestion">edit question</button>
            <hr>
            <button id="addNewMultipleQuestion">add a new multiple option question</button>
            <div id="detaledQuestions" class="questions">
                <h2>detailed questions</h2>
                <div class="detailedQuestion question">
                    <div class="questionText">
                        <p><b>1. detailed question detailed question detailed question detailed question detailed question detailed question detailed question detailed question?(score: 5)</b></p>
                    </div>
                </div>
                <button class="editQuestion">edit question</button>
                <hr>
                <div class="detailedQuestion question">
                    <div class="questionText">
                        <p><b>1. detailed question detailed question detailed question detailed question detailed question detailed question detailed question detailed question?(score: 5)</b></p>
                    </div>
                </div>
                <button class="editQuestion">edit question</button>
                <hr>
                <div class="detailedQuestion question">
                    <div class="questionText">
                        <p><b>1. detailed question detailed question detailed question detailed question detailed question detailed question detailed question detailed question?(score: 5)</b></p>
                    </div>
                </div>
                <button class="editQuestion">edit question</button>
                <hr>
                <button id="addNewDetailedQuestion">add a new detailed question</button>
            </div>


        </div>
    </div>
</article>
<aside>
   <button id="viewTeacherCourses">viewCourses</button>
</aside>

<script src="test.js"></script>
</body>
</html>