<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="student-menu-style.css">
    <script src="jquery.min.js"></script>
    <title>Student Panel</title>
</head>
<body>
    <nav>Welcome</nav>
    <div class="dropdown">
        click here to see your current courses
    </div>
    <article>
        <!--
        <table>
        <caption><b>My Exams</b></caption>
        <tr>
          <th>   </th>
          <th>title</th>
          <th>description</th>
          <th>start date</th>
          <th>end date</th>
          <th>exam time(min)</th>
          <th>status</th>
          <th>grade</th>
        </tr>

        <tr>
          <td>1</td>
          <td>java exam</td>
          <td>java exam is very good</td>
          <td>2022/11/30</td>
          <td>2022/12/2</td>
          <td>30</td>
          <td>waiting</td>
          <td>-</td>
        </tr>

        <tr>
          <td>2</td>
          <td>pyton exam</td>
          <td>pyton exam is very good</td>
          <td>2022/11/13</td>
          <td>2022/11/14</td>
          <td>30</td>
          <td>done</td>
          <td>18</td>
        </tr>

        <tr>
          <td>3</td>
          <td>fron exam</td>
          <td>front exam is very good</td>
          <td>2022/11/23</td>
          <td>2022/11/24</td>
          <td>30</td>
          <td><button value="" class="startExam">start exam</button></td>
          <td>-</td>
        </tr>

      </table>
      -->


        <!--
        <div id="examination">
            <h2 id="timeRemaining">time remaining</h2>
            <script>
                var min = 3;
                var second = 0;
                var x = setInterval(function(){
                    if(second <= 0){
                        if(min > 0){
                            min--;
                            second+=60;
                        }else{
                            clearInterval(x);
                        }
                    }else{
                        second--;
                        $("#timeRemaining").html(min + " min & " + second + " seconds");
                    }
                }, 1000)
            </script>

            <div class="examMultipleQuestion">

            </div>

            <p><b>1. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo minus modi illum? Minima similique laborum fugiat nisi. Praesentium officiis, numquam optio, rem quas minima aliquam illum iure eveniet ipsam dolores.(score: 5)</b></p>
            ----------------------------------------
            <div class="multipleQuestionOptions">
              <p><input type="radio" value="">a) est laudantium quae, fuga impedit, fugiat voluptas!</p>
              <p><input type="radio" value="">b) est laudantium quae, fuga impedit, fugiat voluptas!</p>
              <p><input type="radio" value="">c) est laudantium quae, fuga impedit, fugiat voluptas!</p>
              <p><input type="radio" value="">d) est laudantium quae, fuga impedit, fugiat voluptas!</p>
            </div>
            -----------------------------------------------------
            <textarea class="detailQuestionAnswers" placeholder="write your answer here"></textarea>
            <div id="buttons">
                <button class="previous paginationBtn" value="">previous</button>
                <button class="finish paginationBtn" value="">Finish exam</button>
                <button class="next paginationBtn" value="">next</button>
            </div>
        </div>
        -->
    </article>

    <script src="test.js"></script>
</body>
</html>