<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="student-menu-style.css">
    <script src="jquery.min.js"></script>
    <title>Student Panel</title>
</head>
<body>
    <nav>Welcome</nav>
    <div class="dropdown">
        click here to see your current courses
    </div>
    <article>
        <!--
        <table>
        <caption><b>My Exams</b></caption>
        <tr>
          <th>   </th>
          <th>title</th>
          <th>description</th>
          <th>start date</th>
          <th>end date</th>
          <th>exam time(min)</th>
          <th>status</th>
          <th>grade</th>
        </tr>

        <tr>
          <td>1</td>
          <td>java exam</td>
          <td>java exam is very good</td>
          <td>2022/11/30</td>
          <td>2022/12/2</td>
          <td>30</td>
          <td>waiting</td>
          <td>-</td>
        </tr>

        <tr>
          <td>2</td>
          <td>pyton exam</td>
          <td>pyton exam is very good</td>
          <td>2022/11/13</td>
          <td>2022/11/14</td>
          <td>30</td>
          <td>done</td>
          <td>18</td>
        </tr>

        <tr>
          <td>3</td>
          <td>fron exam</td>
          <td>front exam is very good</td>
          <td>2022/11/23</td>
          <td>2022/11/24</td>
          <td>30</td>
          <td><button value="" class="startExam">start exam</button></td>
          <td>-</td>
        </tr>

      </table>
      -->
    </article>

    <script src="test.js"></script>
</body>
</html>